# Carry Trade

## Imports

In [2]:
# <include-carry_trade/utils.py>

In [3]:
# <imports>
import pandas as pd
import plotly.io as pio

from carry_trade import utils

pd.options.plotting.backend = "plotly"
pio.templates.default = "none"

## Summary

### Beginning of the Week

1. Borrow $8MM USD notional JPY
2. Exchange $2MM USD for JPY
3. Exchange $10MM USD notional JPY for Thai Baht
4. Buy $10MM USD notional Thai Government Bonds

### End of the Week

1. Sell Thai Government Bonds
2. Exchange Thai Bhat for JPY
3. Repay JPY borrowings
4. Convert profit in JPY to USD for accounting

Thai Baht YC/THA

For US

In [4]:
start_date = "2014-12-01"
tickers = ["THA", "ROU", "JPN", "IDN"]
currencies = ["THB", "RON", "JPY", "IDR"]

In [5]:
if False:
    ticker = tickers[3]
    data = utils.fetch_ticker(ticker, database_code="YC").to_csv(f"df_{ticker}.csv", index=False)

    currency = currencies[3]
    (utils.fetch_ticker(currency, database_code="CUR", query_params={"start_date": start_date})
    .to_csv(f"df_fx_{currency}.csv", index=False))

In [6]:
dfs_yc = {t: pd.read_csv(f"data/df_{t}.csv") for t in tickers}
dfs_fx = {c: pd.read_csv(f"data/df_fx_{c}.csv") for c in currencies}

In [19]:
spot_curves = pd.DataFrame({"JPN": dfs_yc[tickers[2]].set_index("date").loc[start_date] .iloc[:10],
"IDN": dfs_yc[tickers[3]].set_index("date").loc[start_date] .iloc[:10]
})
spot_curves.index = spot_curves.index.map(lambda x: x.split("-")[0]).astype(int)
spot_curves.index.name="Tenor"
spot_curves = spot_curves.astype(float)
spot_curves.plot()

In [21]:
spot_curves

         JPN    IDN
Tenor
1      0.010  6.617
2      0.007  7.281
3      0.015  7.549
4      0.049  7.618
5      0.102  7.638
6      0.127  7.682
7      0.196  7.710
8      0.282  7.719
9      0.359  7.719
10     0.436  7.692

In [20]:
utils.compute_zcb_curve(spot_curves)

/home/caleb/projects/FINM33150/carry_trade/carry_trade/utils.py:95: RuntimeWarning:

invalid value encountered in log

            JPN       IDN
Tenor
1      0.009975  1.589555
2      0.006976       NaN
3      0.015053       NaN
4      0.051474       NaN
5      0.120023       NaN
6      0.159781       NaN
7      0.559650       NaN
8           NaN       NaN
9           NaN       NaN
10          NaN       NaN

In [44]:
dfs_fx[currencies[3]]

            date          rate ticker
0     2014-12-01  12247.733333    IDR
1     2014-12-02  12276.100000    IDR
2     2014-12-03  12311.000000    IDR
3     2014-12-04  12305.383333    IDR
4     2014-12-05  12304.266667    IDR
...          ...           ...    ...
2341  2021-04-29  14453.027966    IDR
2342  2021-04-30  14446.650000    IDR
2343  2021-05-01  14442.700000    IDR
2344  2021-05-02  14442.700000    IDR
2345  2021-05-03  14443.591640    IDR

[2346 rows x 3 columns]

In [23]:
[dfs[t].date.min() for t in tickers]

['2014-12-01', '2011-01-10', '1974-09-24', '2014-12-01']

### USD Thai-Baht

In [29]:
currency_data

          date        rate ticker
32  2021-04-01  110.700571    JPY
31  2021-04-02  110.601333    JPY
30  2021-04-03  110.705500    JPY
29  2021-04-04  110.705500    JPY
28  2021-04-05  110.647625    JPY
27  2021-04-06  110.253000    JPY
26  2021-04-07  109.718400    JPY
25  2021-04-08  109.670000    JPY
24  2021-04-09  109.369714    JPY
23  2021-04-10  109.664996    JPY
22  2021-04-11  109.660000    JPY
21  2021-04-12  109.533000    JPY
20  2021-04-13  109.705667    JPY
19  2021-04-14  108.950857    JPY
18  2021-04-15  108.868667    JPY
17  2021-04-16  108.807357    JPY
16  2021-04-17  108.784988    JPY
15  2021-04-18  108.785000    JPY
14  2021-04-19  108.664500    JPY
13  2021-04-20  108.158500    JPY
12  2021-04-21  108.059083    JPY
11  2021-04-22  107.969531    JPY
10  2021-04-23  107.902000    JPY
9   2021-04-24  107.924988    JPY
8   2021-04-25  107.905000    JPY
7   2021-04-26  107.733000    JPY
6   2021-04-27  108.222000    JPY
5   2021-04-28  108.851167    JPY
4   2021-04-29  108.579500    JPY
3   2021-04-30  108.806714    JPY
2   2021-05-01  109.348539    JPY
1   2021-05-02  109.300500    JPY
0   2021-05-03  109.582833    JPY